[Unit]
Description=FluentD Log Routing Service

Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=10m
TimeoutStopSec=90s

Restart=always
RestartSec=10s

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment
Environment="IMAGE=etcdctl get /images/fluentd"

ExecStartPre=-/usr/bin/docker kill fluentd-router
ExecStartPre=-/usr/bin/docker rm -f fluentd-router
ExecStartPre=/usr/bin/sh -c "source /etc/profile.d/etcdctl.sh && docker pull $($IMAGE)"
ExecStart=/home/core/ethos-systemd/v1/util/fluentd-router.sh

ExecStop=/usr/bin/docker stop -t 10 fluentd-router
ExecStop=/usr/bin/docker rm fluentd-router

[X-Fleet]
Global=true
MachineMetadata=role=logging
